extends layout

block content
    .panel
        h1 Ready to predict the future?
        h2 Enter your symbol below
        input.form-control.input-lg
        p(style="font-size: 12px; padding-top: 5px") This isn't investment advice.
    #particles-js

block scripts
    script(src="/particles.js/particles.js")
    script(src="/js/p.js")
