doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/bootstrap-css/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        block styles
  body
      .main-wrapper
          block content
          block scripts
