extends layout

block content
    #wrapstock

    #chart

    #particles-js
block scripts
    script(src='http://d3js.org/d3.v2.js')
    script(src='/jquery/dist/jquery.min.js')
    //script(src='/js/ochart.js')
    script(src='gen2')
    script(src="/particles.js/particles.js")
    script(src="/js/p.js")
